node_modules/
dist/
.env
.DS_Store
.vscode/
coverage/
npm-debug.log*
yarn-error.log*
.idea/
*.log
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
build/
# MacOS specific
.AppleDouble
.LSOverride     
# Thumbnails

._*
.Trashes
.Spotlight-V100
.DocumentRevisions-V100
.fseventsd
.VolumeIcon.icns

